.about-text {
  position: absolute;
  bottom: -80px;
  width: 84%;
  left: 120px;
  font-family: "HallFetica";
  text-align: justify;
}
.box-group {
  padding-top: 80px;
}
.title-box {
  position: absolute;
  top: 162px;
  left: 126px;
}
.mint-date {
  position: absolute;
  top: 71%;
  left: 42%;
  font-family: "Orbitron";
}
@media only screen and (max-width: 1024px) {
  .about-sec {
    top: 70px;
  }
  .about-text {
    bottom: -205px;
    width: 80%;
    left: 10%;
  }
  .box-group {
    padding-top: 0;
  }
  .all-box {
    top: 224px;
  }
  .title-box {
    top: 37%;
    left: 126px;
  }
  .mint-logo {
    top: 178px;
  }
}
@media only screen and (max-width: 540px) {
  .about-sec {
    top: 232px;
  }
  .about-logo{
    position: relative;
    top: -162px;
  }
}
