/* .footer-bg {
    background-image: url("../../Assets/Asset\ 90.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
  }
   */
.footer-two-part {
  position: absolute;
  top: 160px;
  left: 10%;
}
.social-logo img {
  width: 30px;
  height: 30px;
  margin: 25px 10px;
}

@media only screen and (max-width: 1024px) {
  .footer-img {
    height: 25em;
  }
  .flex-part {
    flex-direction: column;
  }
  .footer-two-part {
    position: absolute;
    top: 146px;
    left: 8%;
  }
  .footer-cyber {
  }
}

@media only screen and (max-width: 540px) {
  .footer-two-part {
    position: absolute;
    top: 198px;
    left: 14%;
  }
  .footer-right{
    width: 100%;
  }
  .footer-img{
    height: 32em;
  }
  .footer-left{
    width: 100%;
  }
  
}
@media only screen and (max-width: 400px) {
  .footer-two-part {
    left: 4%;
  }
}
