.text-side {
  position: absolute;
  top: 238px;
  left: -48px;
}
.hero-text {
  position: absolute;
  top: 20px;
  left: 145px;
  font-family: "ExoRoman";
  font-weight: 200;
}
.dot-img {
  position: absolute;
  top: 206px;
  opacity: 0.3;
}
.sqr-img {
  margin-left: 51px;
  margin-top: 81px;
  opacity: 0.3;
}
.story-img {
  position: absolute;
  top: 476px;
  left: 135px;
}
.drop-img {
  position: absolute;
  top: 416px;
  right: 0;
}
.black-img {
  position: absolute;
  bottom: -10px;
  right: 105px;
  width: 55%;
}
.video-logo {
  position: absolute;
  bottom: 10rem;
  right: 33%;
}

/* media query */

@media only screen and (max-width: 1024px) {
  .hero-image {
    position: relative;
    top: -78px;
  }
  .black-img {
    position: absolute;
    bottom: -147px;
    right: 9%;
    width: 44%;
  }
  .video-logo {
    position: absolute;
    bottom: -5rem;
    right: 26%;
  }
  .text-side {
    position: absolute;
    top: 56%;
    left: 25%;
  }
  .story-img {
    top: 14%;
    left: -36%;
  }
}
@media only screen and (max-width: 540px) {
  .hero-image {
    top: -55px;
  }
  .text-side {
    top: 49%;
    left: 7%;
  }
  .story-img{
    top: 20%;
    left: -23%;
  }
  .video-logo{
    bottom: -8rem;
    right: 26%;
  }
}
